/* ========= Colors =========== */

*{
    font-family: sans-serif;
    box-sizing: border-box;
}

:root{
    /* ===== Colors ===== */
    --sidebar-color: #fff;
    --back-color: #F8F9FB;
    --button-color: #1D90F4;
    --text-color: #000;
    --toggle-color: #fff;
    --search-color: #F8F9FB;
    --btn-color: #fff;
  }
  
  body.dark{
    --sidebar-color: #232121;
    --back-color: #343435;
    --button-color: #BCB8B8;
    --text-color: #BCB8B8;
    --toggle-color: #BCB8B8;
    --search-color: #BCB8B8;
    --btn-color: #000;
  }
  
  /* ========= /Colors =========== */

.dash-content .boxes{
    padding: 20px;
}

.give-book-title{
    font-size: 25px;
    color: var(--text-color);
    font-weight: 500;
}

.choose-input{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    background: var(--sidebar-color);
    border-radius: 10px;
    height: 40px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.choose-input form{
  display: flex;
  align-items: center;
}

.choose-input input{
    border: none;
    width: calc(100% - 140px);
    padding: 7px;
    font-size: 22px;
    color: var(--text-color);
    background: transparent;
    outline: hidden;
}

.choose-input input:focus{
    outline: none;
}

.choose-input button{
    width: 140px;
    background: var(--button-color);
    color: var(--btn-color);
    border: 1px solid var(--button-color);
    border-radius: 10px;
    padding-top: 9px;
    padding-bottom: 8px;
    font-size: 20px;
    cursor: pointer;
}

.choose-input button:hover{
  color: var(--button-color);
  background: var(--sidebar-color);
}

.existing-members{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 500;
}

/* ============= table =================== */

.members-table{
    width: 100%;
    height: 400px;
    overflow: auto;
    background: var(--sidebar-color);
    border-radius: 10px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}
  
  .main-table{
    background-color: transparent;
    width: 100%;
    padding: 5px 10px;
    border-collapse: separate;
    border-spacing: 0 8px;
    overflow: auto;
  }
  .main-table_tr{
    top: 4px;
    height: 40px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
    background-color: var(--back-color);
    border: 4px groove var(--sidebar-color);
    color: var(--text-color);
  }
  .main-table_td{
    text-align: center;
  }

  .pen-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
  }

  .pen-boxx{
    width: 30px;
    height: 30px;
    background: var(--button-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E87171;;
    border: none;
    cursor: pointer;
  }

  .pen-boxx a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sidebar-color);
  }

  @media(max-width: 768px){
    .members-table{
      width: 768px;
      overflow-x: scroll;
    }
  }
  
/* ============== /table ================ */

