/* ========= Colors =========== */

*{
  font-family: sans-serif;
  box-sizing: border-box;
}

p{
background-color: red;
}

:root{
  /* ===== Colors ===== */
  --sidebar-color: #fff;
  --back-color: #F8F9FB;
  --button-color: #1D90F4;
  --text-color: #000;
  --toggle-color: #fff;
  --search-color: #F8F9FB;
  --btn-color: #fff;
}

body.dark{
  --sidebar-color: #232121;
  --back-color: #343435;
  --button-color: #BCB8B8;
  --text-color: #BCB8B8;
  --toggle-color: #BCB8B8;
  --search-color: #BCB8B8;
  --btn-color: #000;
}

/* ========= /Colors =========== */


.boxes{
  padding: 20px 0;
}

.add_a_book-title{
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 500;
  color: var(--text-color);
}

.inputs-box{
  width: 100%;
  padding: 15px 10px 0 10px;
}

.inputs-box form{
display: flex;
align-items: center;
width: 100%;
}

.input-bottonss{
  width: 12%;
  padding-bottom: 10px;
}

.inputss-box{
width: 88%;
}

.input-top{
  display: flex;
  align-items: center;
}

.input-top input{
  width: 50%;
  border: none;
  height: 40px;
  margin: 0 5px 5px 10px;
  border-radius: 10px;
  padding: 5px 5px 5px 10px;
  background: var(--sidebar-color);
  color: var(--text-color);
  font-size: 22px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

input:focus{
  outline: none;
}

.input-bottom{
  display: flex;
  align-items: center;
  margin-top: 10px;
}


.input-bottom input{
  border: none;
  height: 40px;
  width: 33.3%;
  margin: 0 5px 5px 10px;
  border-radius: 10px;
  padding: 5px 5px 5px 10px;
  background: var(--sidebar-color);
  color: var(--text-color);
  font-size: 22px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.input-buttons{
border: 1px solid var(--button-color);
background: var(--button-color);
float: right;
color: var(--btn-color);
margin: 10px 10px 5px 10px;
width: 180px;
font-size: 20px;
height: 40px;
border-radius: 10px;
cursor: pointer;
}

.a-button{
border: 1px solid var(--button-color);
background: var(--button-color);
float: right;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
color: var(--btn-color);
margin: 10px 10px 5px 10px;
width: 180px;
font-size: 20px;
height: 40px;
border-radius: 10px;
cursor: pointer;
}

.input-buttons:hover{
color: var(--button-color);
background: var(--sidebar-color);
}



/* ============= table =================== */

.members-table{
  width: 97%;
  margin-left: 20px;
  height: 400px;
  overflow: auto;
  background: var(--sidebar-color);
  border-radius: 10px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}



.main-table{
  background-color: transparent;
  width: 100%;
  font-size: 14px;
  padding: 5px 10px;
  border-collapse: separate;
  border-spacing: 0 8px;
  overflow: auto;
}
.main-table_tr{
  top: 4px;
  height: 40px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
  background-color: var(--back-color);
  border: 4px groove var(--sidebar-color);
  color: var(--text-color);
}
.main-table_td{
  text-align: center;
  max-width: 234px;
}

.pen-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.pen-boxx{
  width: 30px;
  height: 30px;
  background: var(--button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1D90F4;
  color: var(--sidebar-color);
  border: none;
  cursor: pointer;
}

@media(max-width: 768px){
  .members-table{
    width: 768px;
    overflow-x: scroll;
  }
}

/* ============== /table ================ */