

body{
  background: var(--back-color);
  min-height: 100vh;
}

/* ========= Colors =========== */

:root{
  /* ===== Colors ===== */
  --sidebar-color: #fff;
  --back-color: #F8F9FB;
  --button-color: #1D90F4;
  --text-color: #000;
  --toggle-color: #fff;
  --search-color: #F8F9FB;
  --btn-color: #fff;
}

body.dark{
  --sidebar-color: #232121;
  --back-color: #343435;
  --button-color: #BCB8B8;
  --text-color: #BCB8B8;
  --toggle-color: #BCB8B8;
  --search-color: #BCB8B8;
  --btn-color: #000;
}

/* ========= /Colors =========== */


/* ============ scrool =============== */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--button-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--sidebar-color);
  border: 1px solid var(--button-color);
}

/* ============= /scrool ============ */

/* ============ MAIN ================= */

.distance-main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.boxes{
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;
}

/* ================= / book-menu ================ */

.book-menu{
  min-width: calc(100% - 400px);
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 10px;
}

.book-box{
  padding: 10px;
  width: 31.5%;
  height: 120px;
  box-sizing: border-box;
  background: var(--sidebar-color);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.book-boxx{
  width: 100%;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-box-in{
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
  padding: 10px 10px 5px 0;
}

.book-info{
  margin-right: 20px;
}

.book-box-name{
  font-size: 24px;
  color: var(--text-color);
}

.book-box-number{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--text-color);
}

.iconss{
  width: 60px;
  height: 60px;
  fill: var(--button-color);
  user-select: none;
}

.icon-size{
  width: 40px;
  height: 40px;
  user-select: none;
  fill: var(--button-color);
}

.icon-location{
  display: flex;
  justify-content: end;
  align-items: center;
  user-select: none;
}

.book-box a{
  text-decoration: none;
  width: 100%;
}

.btn{
  text-decoration: none;
  width: 100%;
  color: var(--btn-color);
  background: var(--button-color);
  font-size: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 3px 8px;
  cursor: pointer;
  border: 1px solid var(--button-color);
}

.btn:hover{
  color: var(--button-color);
  background: var(--sidebar-color);
}

/* ================= / book-menu ================ */

/* ============== active-reader ================= */


.active-reader{
  min-width: 350px;
  background: var(--sidebar-color);
  border-radius: 10px;
  height: 530px;
  margin: 10px;
  padding: 24px 10px 10px 10px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  overflow: auto;

}

.active-reader-title-top{
  color: var(--text-color);
  font-size: 22px;
  text-align: center;
}

.active-reader-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
  min-width: 225px;
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
  background: var(--back-color);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.active-reader-title{
  margin-left: 10px;
  width: 230px;
}

.active-reader-title-name{
  color: var(--text-color);
  font-size: 14px;
  text-align: center;
  padding-bottom: 5px;
  line-height: 20px;
}

.active-reader-book-number{
  color: var(--text-color);
  font-size: 12px;
  text-align: center;
}

.active-reader-image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* ============== active-reader ================= */



/* ============ /MAIN ================= */

/* ========== MediaQuery ================ */

@media (max-width: 320px){
  .boxes{
    padding: 80px 0 0 0;
  }

  .active-reader{
    display: none;
  }

  .book-menu{
    width: 100%;
    padding: 10px;
    column-gap: 15px;
    row-gap: 20px;
  }

  .book-box{
    width: 46%;
    margin: 0;
    padding: 5px;
    height: 70px;
  }

  .book-box-in{
    padding: 5px 0 0 0;
    margin: 0 0 5px 0;
  }

  .book-box-name{
    font-size: 12px;
  }

  .book-box-number{
    font-size: 9px;
  }

  .iconss{
    width: 30px;
    height: 30px;
  }

  .btn{
    font-size: 8px;
  }

  .icon-size{
    width: 25px;
    height: 25px;
    padding-right: 5px;
  }

}

@media (min-width: 380px) and (max-width: 576px){

  .boxes{
    padding: 80px 0 0 0;
  }

  .active-reader{
    display: none;
  }

  .book-menu{
    width: 100%;
    padding: 10px;
    column-gap: 15px;
    row-gap: 20px;
  }

  .book-box{
    width: 47%;
    margin: 0;
    padding-top: 5px;
    height: 90px;
  }

  .book-box-in{
    padding: 5px 5px 0 0;
  }

  .book-box-name{
    font-size: 20px;
  }

  .iconss{
    width: 50px;
    height: 50px;
  }

  .btn{
    font-size: 12px;
  }

  .icon-size{
    width: 30px;
    height: 30px;
  }

/* =========== sidebar ========== */

  .nav__toggle{
    background-color: transparent;
    padding-left: 10px;
    -webkit-box-shadow: 0px 0px 0px 0px #fff;
    -moz-box-shadow: 0px 0px 0px 0px #fff;
    box-shadow: 0px 0px 0px 0px #Fff;
  }

  nav.open .nav__toggle{
    position: absolute;
    top: 20px;
    right: 8px;
  }

  .nav__toggle .right-icon{
    display: none;
  }

  .nav__toggle .menu-icon{
    display: block;
  }

  nav{
    width: 0;
    padding: 0;
    margin: 0;
  }

  nav.open{
    width: 220px;
    padding: 15px 10px;
  }

  .logo-image{
    display: none;
  }

  nav.open .logo-image{
    display: block;
  }

  .icon{
    display: none;
  }

  nav.open .icon{
    display: block;
  }


  .dashboard .top .top-right-profile{
    width: 220px;
    margin: 0;
  }

  .mode .label{
    display: none;
  }

  nav.open .mode .label{
    display: block;
  }

/* =========== /sidebar ========== */
}

@media (min-width: 577px) and (max-width: 662px){
  .active-reader{
    display: none;
  }

  .book-menu{
    padding: 10px;
    width: 100%;
  }

  .book-box{
    width: 48%;
  }

}

@media (min-width: 663px) and (max-width: 760px){

  .boxes{
    align-items: flex-start;
  }

  .active-reader{
    margin: 0 10px 10px 10px;
    height: 700px;
    min-width: 230px;
  }

  .active-reader-box{
    min-width: 200px;
  }

  .book-menu{
    column-gap: 10px;
    width: 75%;
    padding: 0 20px 0 30px;
    margin: 0;
  }

  .book-box{
    width: 46%;
    height: 100px;
    margin: 0;
  }

  .book-box-name{
    font-size: 16px;
  }

  .book-box-number{
    font-size: 13px;
  }

  .iconss{
    width: 40px;
    height: 40px;
  }

  .icon-size{
    width: 30px;
    height: 30px;
  }

  .btn{
    font-size: 13px;
  }

  .active-reader-title-top{
    font-size: 18px;
  }

  .active-reader-title-name{
    font-size: 13px;
  }

  .active-reader-book-number{
    font-size: 10px;
  }

  /* .active-reader{
    display: none;
  } */


}

@media (min-width: 761px) and (max-width: 991px){

  .boxes{
    align-items: flex-start;
  }

  .active-reader{
    margin: 0 10px 10px 10px;
    height: 460px;
    min-width: 260px;
  }

  .book-menu{
    column-gap: 20px;
    width: 75%;
    padding: 0;
  }

  .book-box{
    width: 30%;
    height: 100px;
  }

  .book-box-name{
    font-size: 16px;
  }

  .book-box-number{
    font-size: 13px;
  }

  .iconss{
    width: 40px;
    height: 40px;
  }

  .icon-size{
    width: 30px;
    height: 30px;
  }

  .btn{
    font-size: 13px;
  }
}

@media (min-width: 992px) and (max-width: 1200px){

  .boxes{
    padding-top: 20px;
  }

  .active-reader{
    min-width: 260px;
  }

}

@media (min-width: 140px) and (max-width: 1920px){

}


/* ========== /MediaQuery ================ */